<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-one-third">
				<p>
					<strong>{{ site.title }}</strong>
					by
					<a href="https://twitter.com/viki53" target="_blank" rel="referrer noopener">viki53</a>
				</p>
			</div>
			<div class="column is-one-third">
				<p>
					<strong>Support</strong> and share the love!
				</p>
				<p>
					<a class="github-button" href="https://github.com/john-dorian/core" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star john-dorian/core on GitHub">Star</a>
				</p>
			</div>
			<div class="column is-one-third">
				<p>
					Website and demos built with <a href="https://bulma.io" target="_blank" rel="referrer noopener">Bulma</a>
				</p>
			</div>
		</div>
	</div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>
